<html>
 <head></head>
  <body>
    <h1>Albums</h1>
    <div>
      <% @albums.each do |album| %>
      <br><br>
        <a href="/albums/<%= album.id%>"> 
          Title: <%= album.title %> 
        </a>
      <br>Released: <%= album.release_year %>
      <% end %>
    </div>
  </body>
</html>