<h1>Add an album</h1>
<form action="/albums" method="POST">
  Title: <input type="text" name="title"> <br>
  Release year: <input type="int" name="release_year"> <br>
  Artist ID: <input type="int" name="artist_id"> <br>

  <input type="submit" value="Create the album">
</form>