<h1>Add an artist</h1>
<form action="/artists" method="POST">
  Name: <input type="text" name="name"> <br>
  Genre: <input type="text" name="genre"> <br>

  <input type="submit" value="Create the artist">
</form>